/Data/*
/OpenAccess_nfcore/*
/RPM_nfcore/*
**/__pycache__/
/_legacy/*
.vscode
*.json
*.h5ad
*.pkl
*.pt
*.npy
*.npz
*.csv
*.log
*.parquet
*.csv.gz
*.key
*.rds
*.gz
#CLAUDE
.claude
CLAUDE.md
*/CLAUDE.md
/docs/*
_external/

#others
/논문화/
/특허/
MixedEffectsModeling/5_2_group_z_aggregation_for_unseen_batches_benchmarking.ipynb
MixedEffectsModeling/Perturbation_Results
